<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Server-parser</title>
</head>
    <body style="background-image: url(https://get.wallhere.com/photo/sunlight-video-games-sky-sunrise-Minecraft-morning-mist-atmosphere-dusk-thunder-haze-cloud-fog-mountain-dawn-darkness-screenshot-atmospheric-phenomenon-atmosphere-of-earth-82428.png);
     background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
<!--    <div class="card mx-auto bg-dark text-white" style="margin-top: 50px; width: 1200px; height: 60px;">-->
<!--        <h1 class="card-title mx-auto my-auto">Время пока записывается по UTC, это значит -3 часа по МСК</h1>-->
<!--        </div>-->
        <div class="row text-white mx-auto" style="margin-top: 200px;">
            <div class="col-2"></div>
            <div class="col-8">
                <!--
                ('2023-07-09',
                '23:28:39.519',
                '168.119.145.214:25638',
                'available',
                'players:',
                2,
                ['izipin_', 'izipin']),
                -->
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Time</th>
                      <th scope="col">Status</th>
                      <th scope="col">Players</th>
                    </tr>
                  </thead>
                  <tbody class="text-white">
                  {% for message in context %}
                    <tr>
                      <td>{{ message[0] }}</td>
                      <td>{{ message[1] }}</td>
                      <td>{{ message[3] }}</td>
                        {% if message[4] > 0 %}
                        <td>
                            <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                {{ message[4] }}
                              </button>
                              <ul class="dropdown-menu bg-secondary">
                                  {% for player in message[5] %}
                                <li><a class="dropdown-item text-black" href="#">{{ player }}</a></li>
                                {% endfor %}
                              </ul>
                            </div>
                        </td>
                        {% else %}
                        <td>{{ message[4] }}</td>
                        {% endif %}
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
                            </div>
            <div class="col-2"></div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>